@using UB.DLL.Model;
@model Products

<div class="container my-4">
    <h2 class="fw-bold">Create Product</h2>

    <form method="post">
     
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" name="Name" value="@Model?.Name" required />
            <div class="form-text">Enter the name of the product.</div>
        </div>

        <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" id="Quantity" name="Quantity" value="@Model?.Quantity" />
            <div class="form-text">Provide a brief Quantity of the product (optional).</div>
        </div>

     
        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input type="number" class="form-control" id="Price" name="Price" value="@Model?.Price" step="0.01" required />
            <div class="form-text">Enter the product price.</div>
        </div>

      
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/Product">Cancel</a>
        </div>
    </form>
</div>
