@using UB.DLL.Model;
@model Mdl_Config_Product

<h2>Product Details</h2>

<div>
    <p><strong>Product Name:</strong> @Model.Name</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> @Model.Price</p>

</div>

<a class="btn btn-primary" href="/Setup_Product">Back to List</a>